<% if policy(@participation).destroy?  %>
  <div class="d-flex p-2 m-2 w-100 justify-content-end gap-3">
    <% if policy(@participation).destroy? %>
      <%= link_to game_participation_path(game: @game), data: { 'turbo-method': :delete, 'turbo-confirm': t('.confirm_destroy') }, class: 'btn btn-danger' do %>
        <%= t(".destroy") %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="bg-primary">
  <table class="table table-dark table-bordered">
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.participation.tournament") %></td>
      <td>
        <%= link_to(@participation.tournament.name, @participation.tournament.external_url ,target: "_blank", class: 'text-opacity-75') %>
      </td>
    </tr>
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.participation.price_cap") %></td>
      <td>
        <%= @participation.draft.price_cap %>
      </td>
    </tr>
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.participation.roster_size") %></td>
      <td>
        <%= @participation.draft.roster_size %>
      </td>
    </tr>
  </table>
</div>