<h2 class="mb-3"><%= t('.title') %></h2>

<table class="table table-primary w-50">
  <tr>
    <td class="fw-bold"><%= t('.email') %></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="fw-bold"><%= t('.username') %></td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td class="fw-bold"><%= t('.highscore') %></td>
    <td><%= @user.highscore %></td>
  </tr>
</table>
