<div class="border-3 border border-light rounded-2 shadow p-3">
  <%= simple_form_for [@game, salary_draft] do |f| %>
    <%= f.input :tournament_id, collection: @tournaments %>
    <%= f.input :roster_size %>
    <%= f.input :price_cap  %>

    <%= f.button :submit, class: "btn btn-success ms-auto" %>
  <% end %>
</div>