<% if current_user %>
  <div class="d-flex p-2 m-2 w-100 justify-content-end gap-3">
    <% if policy(@salary_draft).edit? %>
      <%= link_to edit_game_salary_draft_path(@salary_draft, game: @game), class: 'btn btn-success' do %>
        <%= t(".edit") %>
      <% end %>
    <% end %>
    <% if policy(@salary_draft).destroy? %>
      <%= link_to game_salary_draft_path(game: @game), data: { 'turbo-method': :delete, 'turbo-confirm': t('.confirm_destroy') }, class: 'btn btn-danger' do %>
        <%= t(".destroy") %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="bg-primary">
  <table class="table table-dark table-bordered">
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.salary_draft.tournament") %></td>
      <td>
        <%= link_to(@salary_draft.tournament.name, @salary_draft.tournament.external_url ,target: "_blank", class: 'text-opacity-75') %>
      </td>
    </tr>
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.salary_draft.price_cap") %></td>
      <td>
        <%= @salary_draft.price_cap %>
      </td>
    </tr>
    <tr>
      <td class="fw-bold"><%= t("activerecord.attributes.salary_draft.roster_size") %></td>
      <td>
        <%= @salary_draft.roster_size %>
      </td>
    </tr>
  </table>
  <div class="d-flex p-2 m-2 w-100 justify-content-end gap-3">
  <% if current_user && policy(Participation.new(user: current_user, draft: @salary_draft)).create? %>
    <%= link_to game_participations_path(game: @game, participation: {draft_id: @salary_draft.id, user_id: current_user.id}), data: {  'turbo-method': :post }, class: 'btn btn-success' do %>
      <%= t(".add_participation") %>
    <% end %>
  <% end %>
  <% if @participation %>
    <%= link_to [@game, @participation], class: 'btn btn-success' do %>
      <%= t(".view_participation") %>
    <% end %>
  <% end %>
  </div>

</div>