<div class="w-100 d-flex justify-content-end gap-3 mb-3">
  <h4><%= t('views.tables.filters') %></h4>
  <%= form_with(url: game_players_path(game: @game, page: params[:page]), method: :get, data: {turbo_stream: true, controller: "table-filters", 'table-filters-target': "form" }, class: 'd-flex gap-3 align-items-center') do |f| %>
    <%= f.label :country, t('activerecord.attributes.player.country') %>
    <%= f.select :country, options_for_select(@countries, @filters[:country]), {}, { class: 'form-select w-25', onchange: "this.form.requestSubmit()" } %>
    <%= f.label :name, t('activerecord.attributes.player.name') %>
    <%= f.text_field :name, value: @filters[:name], class: 'form-control w-100', data: { 'table-filters-target': "input" }   %>
    <%= f.submit 'Filter', class: 'btn btn-secondary' %>
  <% end %>
</div>

<%= render partial: "table", locals: { players: @players } %>