<div class="mx-auto p-2 my-3 bg-light text-dark">
  <h3><%= t('rosters.edit.roster_title') %></h3>
  <table class="table table-striped table-light">
    <thead>
    <tr>
      <th>
      </th>
      <th>
        <%= t('activerecord.attributes.player.external points') %>
      </th>
      <th>
        <%= t('activerecord.attributes.player.cost') %>
      </th>
    </tr>
    </thead>
    <% roster.reload.roster_players.each do |roster_player| %>
      <% player = roster_player.player %>
      <tr class="mx-2">
        <td>
          <%= link_to(player.name, player.external_url ,target: "_blank") %>
        </td>
        <td>
          <%= player.current_score %>
        </td>
        <td>
          <%= roster_player.decorated_player_cost %>
        </td>
      </tr>

    <% end %>
  </table>
  <div class="d-flex flex-column align-items-end">
    <table class="w-50 table table-striped">
      <tr>
        <td>
          <%= t('rosters.edit.roster_size') %>
        </td>
        <td>
          <%= "#{roster.players.count} / #{roster.draft.roster_size}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('rosters.edit.total_cost') %>
        </td>
        <td>
          <%= "#{roster.total_cost} / #{roster.draft.price_cap}" %>
        </td>
      </tr>
    </table>

  </div>
</div>