<!DOCTYPE html>
<html>
<head>
  <title>TcgFantasyDraft</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="d-flex flex-column min-vh-100">

<%= render partial: 'layouts/admin_header' %>

<div id="flash" class="flash">
  <%= render "layouts/flash" %>
  <%= turbo_frame_tag "flash" %>
</div>
<div id="content" class="p-2 px-md-5 py-md-3 overflow-hidden bg-primary flex-grow-1">
  <%= yield %>
</div>
</body>
</html>
